<ng-template #basic let-modal>
  <div style="display: flex; justify-content: end">
    <img
      src="/assets/icons/x.png"
      alt="x.png"
      (click)="modal.close('default')"
      class="close-btn"
    />
  </div>
  <!-- modal pop-up -->
  <div class="content-wrapper">
    <!-- content -->
    <div class="content">
      <ng-content [select]="content"></ng-content>
    </div>
    <!-- close button -->
    <div (click)="modal.close()">
      <ng-content [select]="button"> </ng-content>
    </div>
  </div>
</ng-template>

<!-- open modal -->
<app-button
  [label]="buttonLabel"
  [leftIcon]="leftIcon"
  [variant]="variant"
  padding="md"
  iconSize="10px"
  [disabled]="form && form.invalid"
  (click)="form && form.invalid ? null : open()"
></app-button>
