.close-btn {
  border-radius: 100%;
  background-color: #ff5444;
  width: fit-content;
  padding: 8px;
  width: 40px;
  cursor: pointer;
  margin-top: 25px;
  margin-right: 25px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px;
}
