<div class="multi-select-container">
  <div class="header">
    {{ multiSelectTitle }}
    <span *ngIf="selectedList.length === 0" class="required">*</span>
  </div>
  <div class="multi-select-wrapper">
    <input
      (keyup)="onSearch()"
      [(ngModel)]="searchText"
      type="text"
      [placeholder]="placeholder"
      class="multiselect-input"
      [ngClass]="empty ? 'invalid' : ''"
    />
    <button (click)="onShowAll($event)">
      <img
        src="assets/icons/dropdown.png"
        alt="assets/icons/dropdown.png"
        [class]="toggle ? 'rotate-180-deg' : 'rotate-0-deg'"
      />
    </button>
    <div
      *ngIf="filteredList.length > 0 && toggle"
      class="multi-select-item-wrapper"
    >
      <li
        *ngFor="let member of filteredList"
        (click)="onSelect(member)"
        class="multi-select-item"
      >
        {{ member.name }}
      </li>
    </div>
  </div>
  <div *ngIf="empty" class="required">
    <div>กรุณาเลือกตัวเลือก</div>
  </div>

  <div
    class="selected-item-container"
    (cdkDropListDropped)="onDrop($event)"
    cdkDropList
  >
    <div
      cdkDrag
      *ngFor="let member of selectedList; let i = index"
      [cdkDragDisabled]="!dragAndDrop"
      class="selected-item-wrapper"
    >
      <div *cdkDragPlaceholder class="selected-item-placeholder"></div>
      <div [class]="hasInput ? 'selected-item' : 'selected-item-no-input'">
        <div>
          {{ member.name }}
        </div>
        <input
          *ngIf="hasInput"
          type="text"
          placeholder="กรอกเลขรหัสอุปกรณ์"
          [(ngModel)]="member.inputValue"
        />
        <button (click)="onRemove(i)">
          <img src="assets/icons/dropdown-x.png" alt="" />
        </button>
      </div>
    </div>
  </div>
</div>
