<div class="card-container">
  <div class="button-back-wrapper">
    <div class="button-back" routerLink="/resume">
      <img src="/assets/icons/back.png" alt="/assets/icons/back.png" />
    </div>

    <div class="button-edit" routerLink="/resume/123/edit">
      <img src="/assets/icons/edit.png" alt="" />
      <div>แก้ไขข้อมูล</div>
    </div>
  </div>
  <div>
    <!-- detail -->
    <app-detail [userDetail]="userDetail"></app-detail>
  </div>
  <!-- tabs -->
  <app-tabs [files]="userDetail.files"></app-tabs>
  <app-manager
    [managerList]="userDetail.managerList"
    [createdAt]="userDetail.createdAt"
  ></app-manager>
  <!-- manager in charge -->
  <!-- buttons group -->
</div>
