<form id="input-group-form" [formGroup]="addResumeForm" class="input-container">
  <div class="input-wrapper">
    <label for="name"
      >ชื่อ
      <span *ngIf="getResumeForm['name'].invalid" class="required">*</span>
    </label>
    <input
      id="name"
      placeholder="กรอกชื่อ"
      type="text"
      formControlName="name"
      class="input"
      [ngClass]="
        getResumeForm['name'].invalid &&
        (getResumeForm['name'].touched || getResumeForm['name'].dirty) &&
        'invalid'
      "
    />
    <div
      *ngIf="
        getResumeForm['name'].errors &&
        (getResumeForm['name'].touched || getResumeForm['name'].dirty)
      "
      class="required"
    >
      <div>กรุณากรอกข้อมูล</div>
    </div>
  </div>

  <div class="input-wrapper">
    <label for="surname"
      >นามสกุล
      <span *ngIf="getResumeForm['surname'].invalid" class="required">*</span>
    </label>
    <input
      placeholder="กรอกนามสกุล"
      type="text"
      formControlName="surname"
      class="input"
      [ngClass]="
        getResumeForm['surname'].invalid &&
        (getResumeForm['surname'].touched || getResumeForm['surname'].dirty) &&
        'invalid'
      "
    />
    <div
      *ngIf="
        getResumeForm['surname'].errors &&
        (getResumeForm['surname'].touched || getResumeForm['surname'].dirty)
      "
      class="required"
    >
      <div>กรุณากรอกข้อมูล</div>
    </div>
  </div>
  <div class="input-wrapper">
    <label for="nickname"
      >ชื่อเล่น
      <span *ngIf="getResumeForm['nickname'].invalid" class="required">*</span>
    </label>
    <input
      placeholder="กรอกชื่อเล่น"
      type="text"
      formControlName="nickname"
      class="input"
      [ngClass]="
        getResumeForm['nickname'].invalid &&
        (getResumeForm['nickname'].touched ||
          getResumeForm['nickname'].dirty) &&
        'invalid'
      "
    />
    <div
      *ngIf="
        getResumeForm['nickname'].errors &&
        (getResumeForm['nickname'].touched || getResumeForm['nickname'].dirty)
      "
      class="required"
    >
      <div>กรุณากรอกข้อมูล</div>
    </div>
  </div>

  <div class="input-wrapper">
    <label for="phoneNumber"
      >เบอร์โทรศัพท์
      <span *ngIf="getResumeForm['phoneNumber'].invalid" class="required"
        >*</span
      >
    </label>
    <input
      placeholder="กรอกเบอร์โทรศัพท์"
      type="number"
      formControlName="phoneNumber"
      class="input"
      [ngClass]="
        getResumeForm['phoneNumber'].invalid &&
        (getResumeForm['phoneNumber'].touched ||
          getResumeForm['phoneNumber'].dirty) &&
        'invalid'
      "
    />
    <div
      *ngIf="
        getResumeForm['phoneNumber'].errors &&
        (getResumeForm['phoneNumber'].touched ||
          getResumeForm['phoneNumber'].dirty)
      "
      class="required"
    >
      <div>กรุณากรอกข้อมูล</div>
    </div>
  </div>
  <div class="input-wrapper">
    <label for="email"
      >อีเมล
      <span *ngIf="getResumeForm['email'].invalid" class="required">*</span>
    </label>
    <input
      placeholder="กรอกอีเมล"
      type="email"
      formControlName="email"
      class="input"
      [ngClass]="
        getResumeForm['email'].invalid &&
        (getResumeForm['email'].touched || getResumeForm['email'].dirty) &&
        'invalid'
      "
    />
    <div
      *ngIf="
        getResumeForm['email'].errors &&
        (getResumeForm['email'].touched || getResumeForm['email'].dirty)
      "
      class="required"
    >
      <div *ngIf="getResumeForm['email'].hasError('required')">
        กรุณากรอกข้อมูล
      </div>
      <div *ngIf="getResumeForm['email'].hasError('email')">
        กรุณากรอกข้อมูลให้ถูกต้อง
      </div>
    </div>
  </div>
</form>
