<div class="dropdowns-container">
  <div *ngIf="dropdownTitle" class="header">
    {{ dropdownTitle }}
    <span *ngIf="!inputDropdownValue" class="required">*</span>
  </div>
  <div class="dropdowns-wrapper">
    <!-- Input dropdowns -->
    <input
      type="text"
      [placeholder]="placeholderVal"
      [value]="inputDropdownValue"
      (input)="onInputChange($event)"
      (focus)="onInputChange($event)"
    />

    <button class="drop-arrow" (click)="isTurnOnOptionAndChoose(null)">
      <img
        src="assets/icons/dropdown.png"
        alt="assets/icons/dropdown.png"
        [class]="turnOnOption ? 'rotate-180-deg' : 'rotate-0-deg'"
      />
    </button>

    <!-- Options -->
    <div
      class="option-wrapper"
      *ngIf="turnOnOption && filteredOptionList.length > 0"
    >
      <div
        *ngFor="let option of filteredOptionList; index as i"
        (click)="isTurnOnOptionAndChoose(option)"
      >
        <div class="options-value">
          {{ option.name }}
        </div>
      </div>
    </div>
  </div>
  <label
    class="error-reimbursement"
    *ngIf="validationAlert && !inputDropdownValue && detectionTouch"
    >{{ validationAlert }}</label
  >
</div>
