.card-container {
  padding-top: 10px;
}

.btn-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  min-width: 400px;
}

.btn {
  background-color: red;
  min-width: 170px;
  border: none;
  cursor: pointer;
  background: linear-gradient(
    270.74deg,
    #2e3579 0.35%,
    #005fbc 99.1%,
    #005fbc 99.1%
  );
  color: #fff;
  border-radius: 10px 10px 0px 0px;
  padding: 10px 20px;
}

.btn-selected {
  background-color: #fff;
  min-width: 170px;
  border: none;
  cursor: pointer;
  background-color: #d0e8ff;
  color: #005fbc;
  border-radius: 10px 10px 0px 0px;
  padding: 10px 20px;
}

.tab-container {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #d1d1d6;
  box-shadow: 0px 4px 30px -16px rgba(138, 159, 171, 0.35);
  border-radius: 20px;
}
