<div class="container">
  <div class="search-box">
    <img
      src="assets/icons/search.png"
      alt="assets/icons/search.png"
      width="20px"
      height="20px"
    />
    <input
      type="text"
      placeholder="ค้นหา"
      [(ngModel)]="searchText"
      (ngModelChange)="onSearchChange()"
    />
  </div>
  <div class="filter" (click)="toggle = !toggle">
    <div>Filter</div>
    <img
      src="assets/icons/filter.png"
      alt="assets/icons/filter.png"
      width="20px"
      height="20px"
    />
  </div>
  <div *ngIf="toggle" class="filter-control">
    <div>
      <div class="checkbox-wrapper">
        <div class="title">หมวดหมู่</div>
        <form>
          <div class="checkbox-wrapper">
            <div
              class="checkbox"
              *ngFor="let filter of form['filter'].value; let i = index"
            >
              <input
                type="checkbox"
                [id]="filter.id"
                [name]="filter.name"
                [(ngModel)]="filter.isSelected"
              />
              <label [for]="filter.id">{{ filter.name }}</label>
            </div>
          </div>
        </form>
      </div>
      <hr />
      <div class="button-wrapper">
        <app-button
          variant="cancel"
          label="ยกเลิก"
          paddingCustom="8px 50px"
          rounded="lg"
          (click)="toggle = false"
        ></app-button>
        <app-button
          variant="submit"
          label="ตกลง"
          paddingCustom="8px 50px"
          rounded="lg"
          (click)="onCheckClick()"
        ></app-button>
      </div>
    </div>
  </div>
</div>
