.layout-container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #fff;
  border: 1px solid #d1d1d6;
  box-shadow: 0px 4px 30px -16px rgba(138, 159, 171, 0.35);
  border-radius: 20px;
  font-family: "Kanit";
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content-wrapper {
  margin-top: 40px;
}

.footer-wrapper {
  margin-top: 80px;
}
