<form id="input-group-form" [formGroup]="form" class="input-container">
  <div class="input-wrapper">
    <label for="name"
      >ชื่อ
      <span *ngIf="getForm['name'].invalid" class="required">*</span>
    </label>
    <input
      id="name"
      placeholder="กรอกชื่อ"
      type="text"
      formControlName="name"
      class="input"
      [ngClass]="
        getForm['name'].invalid &&
        (getForm['name'].touched || getForm['name'].dirty) &&
        'invalid'
      "
    />
    <div
      *ngIf="
        getForm['name'].errors &&
        (getForm['name'].touched || getForm['name'].dirty)
      "
      class="required"
    >
      <div>กรุณากรอกข้อมูล</div>
    </div>
  </div>

  <div class="input-wrapper">
    <label for="surname"
      >นามสกุล
      <span *ngIf="getForm['surname'].invalid" class="required">*</span>
    </label>
    <input
      placeholder="กรอกนามสกุล"
      type="text"
      formControlName="surname"
      class="input"
      [ngClass]="
        getForm['surname'].invalid &&
        (getForm['surname'].touched || getForm['surname'].dirty) &&
        'invalid'
      "
    />
    <div
      *ngIf="
        getForm['surname'].errors &&
        (getForm['surname'].touched || getForm['surname'].dirty)
      "
      class="required"
    >
      <div>กรุณากรอกข้อมูล</div>
    </div>
  </div>
  <div class="input-wrapper">
    <label for="nickname"
      >ชื่อเล่น
      <span *ngIf="getForm['nickname'].invalid" class="required">*</span>
    </label>
    <input
      placeholder="กรอกชื่อเล่น"
      type="text"
      formControlName="nickname"
      class="input"
      [ngClass]="
        getForm['nickname'].invalid &&
        (getForm['nickname'].touched || getForm['nickname'].dirty) &&
        'invalid'
      "
    />
    <div
      *ngIf="
        getForm['nickname'].errors &&
        (getForm['nickname'].touched || getForm['nickname'].dirty)
      "
      class="required"
    >
      <div>กรุณากรอกข้อมูล</div>
    </div>
  </div>

  <div class="input-wrapper">
    <label for="phoneNumber"
      >เบอร์โทรศัพท์
      <span *ngIf="getForm['phoneNumber'].invalid" class="required">*</span>
    </label>
    <input
      placeholder="กรอกเบอร์โทรศัพท์"
      type="number"
      formControlName="phoneNumber"
      class="input"
      [ngClass]="
        getForm['phoneNumber'].invalid &&
        (getForm['phoneNumber'].touched || getForm['phoneNumber'].dirty) &&
        'invalid'
      "
    />
    <div
      *ngIf="
        getForm['phoneNumber'].errors &&
        (getForm['phoneNumber'].touched || getForm['phoneNumber'].dirty)
      "
      class="required"
    >
      <div>กรุณากรอกข้อมูล</div>
    </div>
  </div>
  <div class="input-wrapper">
    <label for="email"
      >อีเมล
      <span *ngIf="getForm['email'].invalid" class="required">*</span>
    </label>
    <input
      placeholder="กรอกอีเมล"
      type="email"
      formControlName="email"
      class="input"
      [ngClass]="
        getForm['email'].invalid &&
        (getForm['email'].touched || getForm['email'].dirty) &&
        'invalid'
      "
    />
    <div
      *ngIf="
        getForm['email'].errors &&
        (getForm['email'].touched || getForm['email'].dirty)
      "
      class="required"
    >
      <div *ngIf="getForm['email'].hasError('required')">กรุณากรอกข้อมูล</div>
      <div *ngIf="getForm['email'].hasError('email')">
        กรุณากรอกข้อมูลให้ถูกต้อง
      </div>
    </div>
  </div>
</form>
