.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #005fbc;
  border-radius: 10px;
  position: relative;
}

.search-box {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding-left: 15px;
}

.search-box input {
  border: none;
  outline: none;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 8px 15px;

  border-left: 1px solid #005fbc;

  cursor: pointer;
  user-select: none;
}

.filter-control {
  position: absolute;
  right: 0;
  top: 50px;

  background-color: #fff;

  border: 1px solid #005fbc;
  border-radius: inherit;
  overflow: hidden;

  padding: 10px;
}

.button-wrapper {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  padding-right: 100px;
  gap: 20px;
}

.checkbox-wrapper .title {
  font-weight: 600;
  white-space: nowrap;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 10px;
}

// .checkbox input {
//   accent-color: #ff5444;
// }

input[type="checkbox"] {
  height: 15px;
  width: 15px;
  vertical-align: middle;
  margin: 0 0.4em 0.4em 0;
  border: 1px solid #ff5444;

  -webkit-appearance: none;
  -webkit-transition: box-shadow 200ms;
}

/* border radius for checkbox */
input[type="checkbox"] {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* hover state */
input[type="checkbox"]:not(:disabled):hover {
  border-color: #ff5444;
}

/* active state */
input[type="checkbox"]:active:not(:disabled) {
  border-color: #ff5444;
}

/* focus state */
input[type="checkbox"]:focus {
  outline: none;
}

/* input checked border color */
input[type="checkbox"]:checked {
  border-color: #ff5444;
  background-color: #ff5444;
}

/* checkbox checked */
input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  width: 3px;
  height: 7px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-left: 4px;
  margin-top: 1px;
}
