<div style="display: flex; flex-direction: column">
  <div
    style="
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    "
  >
    <div style="font-size: large; font-weight: 600">{{ tableTitle }}</div>
    <!-- filter -->
    <!-- DO NOT FORGET TO ADD LEFT ICON!!! -->
    <app-button
      label="เพิ่มรายการ"
      variant="submit"
      type="submit"
      id="input-group-form"
      leftIcon=""
      size="sm"
    ></app-button>
  </div>
  <div>
    <table matSort (matSortChange)="sortData($event)">
      <tr>
        <th mat-sort-header="name">ชื่อ-สกุล</th>
        <th>แผนก</th>
        <th>วันที่ยื่นสมัคร</th>
        <th>สถานะ</th>
        <th>ผู้รับผิดชอบสัมภาษณ์</th>
        <th>คะแนนโดยรวม</th>
        <th>ดูเพิ่มเติม</th>
      </tr>

      <tr *ngFor="let row of sortedTable">
        <td style="text-align: left">{{ row.name }} {{ row.surname }}</td>
        <td>{{ row.departmentList[0].name }}</td>
        <td>{{ localDate(row.createdAt, "th-TH") }}</td>
        <td>
          <div style="color: #ec920e; font-weight: 600">
            {{ row.status }}
          </div>
        </td>
        <td>
          <img
            *ngFor="let member of row.officerInChargeList"
            [src]="member.avatar"
            alt="image"
            style="width: 32px; border-radius: 20px; margin-right: 10px"
          />
        </td>
        <td>
          <div
            style="
              background-color: #ffefd7;
              color: #eb760b;
              display: inline-block;
              font-weight: 600;
              font-size: small;
              border-radius: 20px;
              padding: 5px 10px;
            "
          >
            {{ row.averageScore }}
          </div>
        </td>
        <td>
          <button
            style="
              border: 1px solid #d1d1d6;
              border-radius: 8px;
              width: 32px;
              height: 32px;
              color: #005fbc;
            "
          >
            {{ "=" }}
          </button>
        </td>
      </tr>
    </table>
  </div>
  <div>
    <!-- pagination -->
  </div>
</div>
