<div class="input-container">
  <div class="input-wrapper">
    <label for="">ชื่อ</label>
    <input placeholder="กรอกชื่อ" type="text" />
  </div>

  <div class="input-wrapper">
    <label for="">นามสกุล</label>
    <input placeholder="กรอกนามสกุล" type="text" />
  </div>
  <div class="input-wrapper">
    <label for="">ชื่อเล่น</label>
    <input placeholder="กรอกชื่อเล่น" type="text" />
  </div>

  <div class="input-wrapper">
    <label for="">เบอร์โทรศัพท์</label>
    <input placeholder="กรอกเบอร์โทรศัพท์" type="tel" />
  </div>
  <div class="input-wrapper">
    <label for="">อีเมล</label>
    <input placeholder="กรอกอีเมล" type="email" />
  </div>
</div>
