<div class="card-container">
  <div class="card-wrapper">
    <div class="title">{{ userDetail.name }} {{ userDetail.surname }}</div>
    <div class="status">{{ userDetail.status }}</div>
  </div>
  <div class="card-wrapper">
    <div class="sub-title">
      แผนก <span>{{ userDetail.departmentList[0].name }}</span>
    </div>
    <div class="sub-title">
      ตำแหน่ง <span>{{ userDetail.positionList[0].name }}</span>
    </div>
  </div>
  <div class="card-content-wrapper">
    <div *ngIf="userDetail.nickname" class="card-content">
      <p>ชื่อเล่น :</p>
      <span>{{ userDetail.nickname }}</span>
    </div>
    <div class="card-content">
      <p>อีเมล :</p>
      <span>{{ userDetail.email }}</span>
    </div>
    <div class="card-content">
      <p>เบอร์โทรศัพท์ :</p>
      <span>{{ userDetail.phoneNumber }}</span>
    </div>
    <div *ngIf="userDetail.other" class="card-content">
      <p>ข้อมูลเพิ่มเติม :</p>
      <span>{{ userDetail.other }}</span>
    </div>
    <div class="card-content">
      <p>ข้อมูลโดย :</p>
      <span>ข้อมูลโดย?</span>
    </div>
    <div class="card-content">
      <p>วันที่เพิ่มข้อมูล :</p>
      <span>{{ data }} น.</span>
    </div>
  </div>
</div>
