.card-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.card-wrapper .title {
  font-weight: 500;
  font-size: 36px;
}

.card-wrapper .status {
  color: #905909;
  font-weight: 600;
  font-size: 14px;
}

.card-wrapper .sub-title {
  font-weight: 500;
  font-size: 16px;
  color: #aeaeb2;
}

.card-wrapper .sub-title span {
  font-weight: 500;
  font-size: 16px;
  color: #000;
}

.card-content-wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
}

.card-content {
  display: flex;
  flex-direction: row;
}

.card-content p {
  min-width: 140px;
}
