<div class="card-container">
  <div class="back-button">
    <app-modal-basic
      type="back"
      variant="back"
      leftIcon="/assets/icons/back.png"
    >
      <ng-container content>
        <div>ยกเลิกการส่งแบบฟอร์ม?</div>
        <img src="/assets/icons/paper.png" alt="paper.png" width="80px" />
      </ng-container>
    </app-modal-basic>
  </div>
  <div class="text-center">{{ formTitle }}</div>
  <form class="form-container">
    <app-input-form [getForm]="getForm" [form]="form"></app-input-form>
    <app-multi-select
      multiSelectTitle="แผนกที่สมัคร"
      placeholder="เลือกแผนกที่สมัคร"
      [list]="departmentList"
      (onSubmit)="onSelect($event)"
    ></app-multi-select>
    <app-multi-select
      multiSelectTitle="ตำแหน่ง"
      placeholder="เลือกตำแหน่ง"
      [list]="positionList"
      (onSubmit)="onSelect($event)"
    ></app-multi-select>
    <app-multi-select
      multiSelectTitle="ผู้รับผิดชอบ"
      placeholder="เลือกผู้รับผิดชอบ"
      [list]="managerList"
      [selectedList]="this.interviewerInfo.managerList"
      (onSubmit)="onSelect($event)"
    ></app-multi-select>
    <app-document-upload
      [getForm]="getForm"
      (onSelectFileEmit)="onSelectFile($event)"
    ></app-document-upload>
    <app-input-other-form
      header="ข้อมูลเพิ่มเติม หรือ ลิงก์ผลงาน"
      [form]="form"
      [getForm]="getForm"
    ></app-input-other-form>
    <div class="button-container">
      <app-modal-basic type="cancel" variant="cancel" buttonLabel="ยกเลิก">
        <ng-container content>
          <div>ยกเลิกการส่งแบบฟอร์ม?</div>
          <img src="/assets/icons/paper.png" alt="paper.png" width="80px" />
        </ng-container>
      </app-modal-basic>
      <app-modal-basic
        [form]="form"
        id="input-group-form"
        type="submit"
        buttonLabel="ยืนยัน"
        variant="submit"
        (onSubmit)="onFormSubmit()"
      >
        <ng-container content>
          <div>ยืนยันการส่งแบบฟอร์ม?</div>
          <img src="/assets/icons/paper.png" alt="paper.png" width="80px" />
        </ng-container>
      </app-modal-basic>
    </div>
  </form>
</div>
