.container {
}

textarea {
  width: 100%;
  resize: none;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #005fbc;
  box-sizing: border-box;
  margin-top: 5px;
  min-height: 80px;
  height: fit-content;
  outline: none;
  font-size: 14px;
}

.header {
  font-weight: 700;
  font-size: 14px;
}
